.content-photo {
  position: relative;
  background: white;

  .search {
    width: 70%;
  }

  .date {
    width: 10%;
  }

  .add_photo {
    position: absolute;
    right: 10px;
    top: -10px;
    width: 80px;
  }

  .content-photo-list {
    display: flex;
  }

  #preview-photo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: max-content;
    width: 300px;

    img {
      height: 200px;
      width: 200px;
    }

    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  }
}
