.content-album {
  position: relative;

  .add_photo {
    position: absolute;
    right: 10px;
    top: -10px;
    width: 80px;
  }

  .content-photo-list {
    display: flex;
  }

  .mat-card {
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    height: 150px;
    width: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p {
      position: absolute;
    }
  }

  #preview-photo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: max-content;

    img {
      height: 100px;
      width: auto;
    }

    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  }
}
