<section class="content-album">
  <button (click)="add = true" mat-icon-button class="add_photo">
    <i class="material-icons">
      add_circle
    </i>
  </button>

  <section class="flex wrap">
    <mat-card [routerLink]="[item.id]" class="mat-card" *ngFor="let item of albums">
      <p>{{item.name}}</p>
    </mat-card>
  </section>

  <div *ngIf="add === true" id="preview-photo">
    <mat-spinner color="primary" value="indeterminate"></mat-spinner>

    <form autocomplete="off" #form="ngForm">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Nombre" name="name" required [(ngModel)]="album.name">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput name="description" [(ngModel)]="album.description" placeholder="Textarea"></textarea>
      </mat-form-field>


      <button class="full-width" type="button" (click)="album.id ?updateAlbum(): save(form)" mat-icon-button>Guardar
      </button>
    </form>
  </div>
</section>
