<div class="content-photo">
  <div class="flex space-around">
    <mat-form-field class=" search">
      <input type="text" matInput (keyup)="getPhotos()" placeholder="Nombre" name="name" [(ngModel)]="query.name">
    </mat-form-field>
    <mat-form-field class="date">
      <input matInput (focus)="picker" (dateInput)="getPhotos()" [matDatepicker]="picker"
             [(ngModel)]="query.date"
             placeholder="Fecha de creación">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <button (click)="image.click()" mat-icon-button class="add_photo">
    <input #image type="file" style="display: none" size="4" (change)="preview($event)" accept="image/*" value="junior">
    <i class="material-icons">
      add_circle
    </i>
  </button>
  <div class="content-photo-list space-around wrap">
    <div *ngFor="let item of photos">
      <app-photo-list [type]="'album'" (error)="errorDelete()" (update)="photo = item; add = true"
                      (success)="getPhotos()"
                      [photo]="item"></app-photo-list>
    </div>
  </div>

  <div *ngIf="add === true" id="preview-photo">
    <!--    <mat-spinner color="primary" value="indeterminate"></mat-spinner>-->
    <div class="flex center">
      <img [src]="photo.file || photo.url" alt="">
    </div>
    <form autocomplete="off" #form="ngForm">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Nombre" name="name" required [(ngModel)]="photo.name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput name="description" [(ngModel)]="photo.description" placeholder="Textarea"></textarea>
      </mat-form-field>


      <button class="full-width" type="button" color="primary" mat-stroked-button
              (click)="photo.id ?updatePhoto(): save(form)">Guardar
      </button>
    </form>
  </div>
</div>
