<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <i class="material-icons">
      menu
    </i>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/photos']" mat-menu-item>
      Fotos
    </button>
    <button [routerLink]="['/albums']" mat-menu-item>
      Albunes
    </button>
  </mat-menu>
</div>
<router-outlet></router-outlet>
