/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.item-center {
  align-items: center;
}

.center {
  justify-content: center;
}

.full-width {
  width: 100%;
}

.space-around {
  justify-content: space-around;
}
