<mat-card class="example-card">
  <img [src]="photo.url" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button (click)="update.emit()" mat-button>Actualizar</button>
    <button (click)="delete()" mat-button>Eliminar</button>
  </mat-card-actions>
</mat-card>
